# Project exclude paths
/.gradle/
/build.gradle
/course-info.yaml
/course-remote-info.yaml
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/gradlew
/gradlew.bat
/Coffee Machine/lesson-info.yaml
/settings.gradle
/Coffee Machine/Brush up your code/
/Coffee Machine/Buy, fill, take_/
/Coffee Machine/Estimate the number of servings/
/Coffee Machine/Ingredient calculator/
/Coffee Machine/Keep track of the supplies/
/Coffee Machine/Making coffee/
*.class
*.tmp

/Coffee Machine/task/build/reports/tests/test/css/base-style.css
/Coffee Machine/task/build/reports/tests/test/classes/CoffeeMachineTest.html
/Coffee Machine/task/build/reports/tests/test/packages/default-package.html
/Coffee Machine/task/build/reports/tests/test/index.html
/Coffee Machine/task/build/tmp/test/jar_extract_13389085272281820276_tmp
/Coffee Machine/task/build/test-results/test/binary/output.bin
/Coffee Machine/task/build/test-results/test/binary/output.bin.idx
/Coffee Machine/task/build/reports/tests/test/js/report.js
/Coffee Machine/task/build/test-results/test/binary/results.bin
/Coffee Machine/task/build/tmp/compileJava/source-classes-mapping.txt
/Coffee Machine/task/build/tmp/compileTestJava/source-classes-mapping.txt
/Coffee Machine/task/build/reports/tests/test/css/style.css
/Coffee Machine/task/build/test-results/test/TEST-CoffeeMachineTest.xml
